label {
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
  font-family: sans-serif;
}

table {
  border-collapse: collapse;
}

th,
td {
  border: 1px solid;
}

nav {
  display: flex;
}

nav > * {
  background: blue;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
}

nav > *:hover {
  background: green;
}
